.nav {
  background-color: white;

  border-radius: 4px;
  width: 100%;
  height: max-content;
  padding: 5px;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.nav li {
  border: 1px solid grey;
  border-radius: 4px;
  width: 30%;
  text-align: center;
  padding: 5px;
}

.nav li:hover {
  cursor: pointer;
}

.selected {
  font-weight: bold;
  color: white;
  background-color: grey;
}
